.tabBox {
    border-style: none !important;
    border-bottom: 1px solid white;
    width: 500px;
    height: 55px;
    margin-left: 20px;
    display: flex;
    gap: 0;

    div {
        border-radius: 10px;
        gap: 5px;
        padding: 1px 1px 1px 1px;

        button {
            font-weight: 500;
            font-size: 13px;
            padding: 0;
            height: 30px;
        }
    }


}

.Mui-selected {
    background-color: white;
}

.buttonTab {
    background-color: rgba(73, 111, 254, 0.08);

    div {
        gap: '10px'
    }

    button {
        border-radius: 10px;
        height: 30px;
        // background-color: white;

    }

    span {
        width: 0px !important;
    }

}