.tooltip-view{
    background-color: 'red';
}

.MuiBox-root{
    .g2-tooltip {
        background-color: #292F51 !important;
        padding:5px !important;
        border-radius: 8px !important;
        
    }
}